* {
  margin: 0;
  padding: 0;
}
h1 {
  color: blue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .card {
    display: block;
  }
  .small {
    display: inline-block;
  }
}
