* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  .card {
    display: block;
  }
  .small {
    display: inline-block;
  }
}
